body {
    font-family: Arial, sans-serif;
}

#progress-bar {
    width: 100%; /* Ä°steÄŸe baÄŸlÄ±: SVG'nin geniÅŸliÄŸini belirtin */
}

.companies {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 25px;
}

.c1 {
    margin: 5%;
    padding: 5%;
    font-family: Arial, sans-serif;
}

.donateButton {
    margin: 2px;
    padding: 5px;
}

    .donateButton button {
        padding: 10px 20px; /* YÃ¼kseklik ve geniÅŸlik iÃ§in padding kullanabilirsiniz */
        font-size: 16px; /* Metin boyutunu ayarlayÄ±n */
    }

.viewButton {
    margin: 2px;
    padding: 5px;
}

    .viewButton button {
        padding: 10px 20px; /* YÃ¼kseklik ve geniÅŸlik iÃ§in padding kullanabilirsiniz */
        font-size: 16px; /* Metin boyutunu ayarlayÄ±n */
    }

.buttonContainer {
    display: flex; /* Flexbox'u etkinleÅŸtir */
    align-items: center; /* Ä°Ã§erikleri dikey olarak hizala */
}

a {
    color: #549c72;
    font-size: 30px;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline; /* BaÄŸlantÄ± Ã¼zerine gelindiÄŸinde alt Ã§izgi ekleme */
    }

button {
    padding: 10px 20px; /* ButonlarÄ±n dolgusu */
    font-size: 16px; /* Buton metin boyutu */
    background-color: #6FCF97; /* Buton arka plan rengi */
    color: #fff; /* Buton metin rengi */
    border: none; /* Buton kenarlÄ±k yok */
    cursor: pointer; /* Buton Ã¼zerine gelindiÄŸinde imleÃ§ tipi */
    border-radius: 4px; /* Buton kenar yuvarlama */
}

    button:hover {
        background-color: #549c72; /* Buton Ã¼zerine gelindiÄŸinde arka plan rengi */
    }

.info {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

.about {
    margin-right: 20px; /* SaÄŸ tarafta bir boÅŸluk bÄ±rak */
    padding: 20px; /* Ä°Ã§eriÄŸin etrafÄ±nda bir iÃ§ boÅŸluk bÄ±rak */
    background-color: #f9f9f9; /* Arka plan rengini ayarla */
    border-radius: 5px;
}
