
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/walletIntegration.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="compaigns.css" />
    <script src="compaigns.js" defer></script>
    <title>Greenpeace</title>
</head>
<body>

    <section class="companies">
        <div>
            <h3>Organization:</h3>
            <a href="https://www.greenpeace.org/international/">Greenpeace</a>
        </div>
        <h1>Company Name: Help Greenpeace protect the planet </h1>
        <img src="https://www.greenpeace.org/turkey/wp-content/themes/planet4-master-theme/images/Greenpeace-logo.png" width="100%" height="100%" />

        <h2>Description of company:</h2>
        <p>
            Imagine a world where forests flourish and oceans are full of life. Where energy is as clean as a mountain stream. Where everyone has security, dignity and joy. We can’t build this future alone, but we can build it together.
            For more than 50 years, Greenpeace has been sailing the world’s oceans protecting our planet and fighting for environmental justice.
        </p>
        <div>
            <svg id="progress-bar" viewBox="0 0 100 2" preserveAspectRatio="none" style="display: block; width: 100%;">
                <path id="background" d="M 0,1 L 100,1" stroke="#1F1F1F" stroke-width="2" fill-opacity="0"></path>
                <path id="progress" d="M 0,1 L 100,1" stroke="#6FCF97" stroke-width="2" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: 0;"></path>
            </svg>
        </div>

        <div class="buttonContainer">
            <div class="donateButton">
                <button onClick="connectWallet()">Donate</button>

            </div>


        </div>

        <div class="socialMedia">
            <label><ion-icon name="share-social-outline"></ion-icon>Share This Project</label>
            <div class="socialMediaContainer">
                <a href="https://www.facebook.com/?locale=tr_TR">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://twitter.com/login?lang=tr">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="https://www.instagram.com/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </div>
        </div>
    </section>



    <section class="info">
        <div class="about">
            <h3>About Greenpeace</h3>
            <p>
                <h4>A green and peaceful future is our quest</h4>
                Greenpeace exists because this fragile earth deserves a voice.

                Some people look at a forest, and all they see is lumber. But there are millions more who see a home, a heritage, a future. Around the globe, we are standing up for our communities, and we are holding governments and corporations accountable.

                <h4>Our vision</h4>
                We believe optimism is a form of courage. We believe that a billion acts of courage can spark a brighter tomorrow. To that end we model courage, we champion courage, we share stories of courageous acts by our supporters and allies, we invite people out of their comfort zones to take courageous action with us, individually in their daily lives, and in community with others who share our commitment to a better world. A green and peaceful future is our quest. The heroes of our story are all of us who believe that a better world is not only within reach, but being built today.
            </p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203531.4354932577!2d10.722084153622098!3d59.9138686407694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416dc059ba712b%3A0x7fcb6e16b6d87ed4!2sOslo%2C%20Norway!5e0!3m2!1sen!2sus!4v1649889580223!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    <!-- Ionicons ikonları için gerekli script -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>